html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-size: 16px;
  line-height: 1.5;
  font-family: $basic-family;
  color: $basic-font-color;
  font-weight: 600;

  background-color: $body-bg;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
