//backgrounds
$body-bg: #131426;

//colors
$orange-color: #ff6b00;

//fonts
$basic-family: 'Montserrat', 'Arial', 'Helvetica', sans-serif;
$basic-font-color: #ffffff;

//breakpoints
$tablet: 768px;
$desktop: 1200px;